
.input-info:focus{
    border: 1px solid #2ca01c ;
    outline: rgb(44, 160, 28);
}
.input-info{
    padding: 0 12px 0 10px;
}
.dob{
    font-size: 13px;
    font-family: Misa Fonts Regular;
}
.idendate{
    font-size: 13px;
    font-family: Misa Fonts Regular;
}
.code{
    width: 150px;
}
.name{
    width: 230px;
}
.position{
    width: 386px;
}
.dob{
    width: 161px;
}
.cmnd{
    width: 250px;
}
.idendate{
    width: 163px;
}