.t-table{
    position: relative;
    overflow: auto;
    max-height: calc(100% - 46px);
}

.t-table .t-table-viewer{
    border-collapse: separate;
    border-spacing: 0;
    border: none;
}
thead{
    position: sticky;
    top: 0;
    height: 34px;
    z-index: 10;
}
.t-table-viewer tr th,td{
    border-right: solid 1px #c7c7c7;
    border-bottom: solid 1px #c7c7c7;
}
.t-checkbox{
    width: 18px;
    height: 18px;
}
.t-checkbox-td{
    width: 40px;
    top: -87px;
    position: sticky;
    left: 0; 
}
.checkbox{
    background-color: #fff;
}
.t-table-viewer tr{
    height: 34px;
    border-bottom: 1px solid #bbb;
    padding: 0 10px;
    text-align: left;
    z-index: 15;
    box-sizing: border-box;
}
.t-table-viewer td{
    padding: 0 10px;
    height: 43px;
}
.t-table-viewer th{
    background-color: #f1f1f1;
    padding: 0 10px;
}
.t-table-viewer th:first-child{
    padding-left: 10px;
}
.t-table-viewer td:first-child{
    padding-left: 10px;
}
.t-table-viewer th:not(:last-child), table td:not(:last-child){
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}
.t-option{
    min-width: 100px;
    width: 100px;
    right: 30px;
    position: sticky;
    right: 0;
    text-align: center;
    border-left: 1px solid #c7c7c7;
}
.t-opiton-edit{
    background-color: #fff;
}
.t-opt-detail{
    display: flex !important;
    justify-content: flex-end !important;
}
tr:hover td {
    background-color: #f2f9ff!important;
}
.t-dropdown{
    display: flex;
    align-items: center;
}
.t-button{
    color: rgb(0, 117, 192);
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    border-width: 0px;
    overflow: visible;
    background: 0px 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
}
.t-btn-edit{
    font-weight: 600;
    position: relative;
    color: inherit;
    white-space: nowrap;
    font-size: 13px;
    line-height: 13px;
    transition: all 0.25s ease 0s;
    margin-left: 10px;
}
.t-icon-drop{
    font-weight: 600;
    position: relative;
    color: inherit;
    white-space: nowrap;
    font-size: 13px;
    width: 46px;
    height: 36px;
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -880px -350px;
    box-sizing: border-box;
}
.text-align{
    text-align: center;
}
.width-170{
    min-width: 150px;
    width: 150px;
    top: -87px;
}
.width-196{
    min-width: 230px;
    width: 230px;
    top: -87px;
}
.width-137{
    min-width: 100px;
    width: 120px;
    top: -87px;
}
.width-114{
    min-width: 130px;
    width: 130px;
    top: -87px;
    text-align: center;
}
.width-138{
    min-width: 150px;
    width: 150px;
    top: -87px;
}
.width-150{
    min-width: 130px;
    width: 130px;
    top: -87px;
    text-align: center;
}
.width-141{
    min-width: 141px;
    width: 141px;
    top: -87px;
}
.width-143{
    min-width: 143px;
    width: 143px;
    top: -87px;
}
.width-244{
    min-width: 150px;
    width: 150px;
    top: -87px;
}
.width-208{
    min-width: 170px;
    width: 170px;
    top: -87px;
}
.width-189{
    min-width: 150px;
    width: 150px;
    top: -87px;
}
.width-250{
    min-width: 200px;
    width: 200px;
    top: -87px;
}