@import url(./base/button.css);
@import url(./base/input.css);
@import url(./base/table.css);
@import url(./base/loading.css);
@import url(./base/scrollbar.css);
@import url(./base/dropdown.css);
@import url(./base/context.css);


.container{
    display: flex;
}
body{
    font-family: Misa Fonts Regular;
    font-size: 13px;
    margin: 0;
    color: #000000;
    box-sizing: border-box;
}
.notvalid{
    border: 1px solid #FF4747;
}
@font-face {
    font-family: Misa Fonts Regular;
    src: url(/src/assets/fonts/notosans-regular.2cb88a13.woff2);
}

@font-face {
    font-family: Misa Fonts Bold;
    src: url(/src/assets/fonts/notosans-bold.3ede5aff.woff2);
}

@font-face {
    font-family: Misa Fonts Italic;
    src: url(/src/assets/fonts/notosans-italic.1c1aaac9.woff2);
}